[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
deepspeech = "*"
flask = "*"
tensorflow = "==1.15"
deepsegment = "*"
deepcorrect = "*"
tensorflow-serving-api = "==1.12.0"
keras = "*"

[requires]
python_version = "3.7"
